{% extends "layout.html" %}
{% block content %}
<script src="{{url_for('static', filename='displaying.js')}}"></script>
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Today's Logs</p>
                <h3>Expenses</h3>
                {%if expenseData%}
                <table>
                    <tr>
                        <th>AMOUNT</th>
                        <th>NEED</th>
                        <th>EDUCATION</th>
                        <th>ENTERTAINMENT</th>
                        <th>TRAVEL</th>
                        <th>FOOD</th>
                        <th>HEALTH</th>
                        <th>OTHERS</th>
                    </tr>
                    {%for item in expenseData[:-2]%}
                    <tr>
                        {%for i in item.keys()%}
                        {%if i=='AMOUNT'%}
                        <td>{{item[i]}}</td>
                        {%else%}
                        {%if item[i]%}
                        <td style="color: green;">&#10003;</td>
                        {%else%}
                        <td style="color: red;">&#10007;</td>
                        {%endif%}
                        {%endif%}
                        {%endfor%}
                    </tr>
                    {%endfor%}
                </table>
                {%else%}
                <p>No Data yet</p>
                {%endif%}
                <br>
                <!-- income table -->
                <h3>Income</h3>
                {%if incomeData%}
                <table>
                    <tr>
                        <th>AMOUNT</th>
                    </tr>
                    {%for item in incomeData[:-2]%}
                    <tr>
                        <td>{{item['AMOUNT']}}</td>
                    </tr>
                    {%endfor%}
                </table>
                {%else%}
                <p>No Data yet</p>
                {%endif%}
                <br>
                <button type="button" onclick="displayingDiv('expenseDiv')">Add Expense</button>
                <button type="button" onclick="displayingDiv('incomeDiv')">Add Income</button>

                <div id="expenseDiv" style="display:none;">
                    <form name="addexpenseForm" action="/addExpense/" method="post">
                        <label for="Amount">Enter the Expense Amount</label>
                        <input name="Amount" type="number" placeholder="Amount" step="0.01" min="0"><br>
                        <br>
                        <label for="Need/Want">Is it a need or a want?</label>
                        <select name="Need/Want" required>
                            <option value="TRUE">Need</option>
                            <option value="FALSE">Want</option>
                        </select><br>
                        <br>
                        <input type="checkbox" name="options" id="education" value="education"> Education </input>
                        <input type="checkbox" name="options" id="entertainment" value="entertainment"> Entertainment
                        </input>
                        <input type="checkbox" name="options" id="travel" value="travel"> Travel </input>
                        <input type="checkbox" name="options" id="food" value="food"> Food </input>
                        <input type="checkbox" name="options" id="health" value="health"> Health </input>
                        <input type="checkbox" name="options" id="others" value="others"> Others </input>
                        <br><br>
                        <input type="submit">
                    </form>
                </div>
                <div id="incomeDiv" style="display:none;">
                    <form method="post" id="incomeForm" action="/addIncome/" method="post">
                        <label for="AmountIncome">Enter the Income Amount</label>
                        <input name="AmountIncome" type="number" placeholder="Amount" step="0.01" min="0"><br>
                        <br>
                        <input type="submit">
                        <br>
                    </form>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}